<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Yoga_Demo_App"
        android:supportsRtl="true"
        android:theme="@style/Theme.YogaDemoApp"
        tools:targetApi="31" >
        <activity
            android:name=".pp"
            android:exported="false" />
        <activity
            android:name=".Elderly"
            android:exported="false" />
        <activity
            android:name=".EarlyAdulthood"
            android:exported="false" />
        <activity
            android:name=".Teens"
            android:exported="false" />
        <activity
            android:name=".CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".ConsultantActivity"
            android:exported="false" />
        <activity
            android:name=".Types"
            android:exported="false" />
        <activity
            android:name=".mentaldashboard"
            android:exported="false" />
        <activity
            android:name=".MedDoc"
            android:exported="false" />
        <activity
            android:name=".ChooseActivity"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".CartItem"
            android:exported="false" />
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CartBook"
            android:exported="false" />
        <activity
            android:name=".UserDatabaseHelper"
            android:exported="false" />
        <activity
            android:name=".GymdbDetails"
            android:exported="false" />
        <activity
            android:name=".GymDatabaseHelper"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".PurchaseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".MembershipProfileActivity"
            android:exported="false" />
        <activity
            android:name=".BMIActivity"
            android:exported="false" />
        <activity
            android:name=".BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".GymDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".BoxActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>